n8n/workflows/bluewings-whatsapp.json
{
  "name": "BlueWings WhatsApp Bot",
  "id": "BlueWingsWA00001",
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "b7f1e2d0-1111-4222-8333-444455556666"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.mode'] === 'subscribe' && $json.query['hub.verify_token'] === $env.WHATSAPP_VERIFY_TOKEN ? $json.query['hub.challenge'] : 'Forbidden' }}",
        "options": {}
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [260, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Webhook Inbound (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "b7f1e2d0-7777-4888-8999-aaaabbbbcccc"
    },
    {
      "parameters": {
        "jsCode": "// Translate Meta's webhook envelope into {from, text} items.\n// Interactive button/list taps feed their title back as if typed.\n// Status/delivery events (no `messages`) produce no items.\nconst out = [];\nfor (const item of $input.all()) {\n  const body = item.json.body ?? item.json;\n  for (const entry of body?.entry ?? []) {\n    for (const change of entry?.changes ?? []) {\n      for (const msg of change?.value?.messages ?? []) {\n        if (!msg?.from) continue;\n        let text = '';\n        if (msg.type === 'text' && msg.text?.body) text = msg.text.body;\n        else if (msg.type === 'interactive') text = msg.interactive?.button_reply?.title || msg.interactive?.list_reply?.title || '';\n        out.push({ json: { from: msg.from, text } });\n      }\n    }\n  }\n}\nreturn out;"
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Extract Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_INTERNAL_URL }}/api/message",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'WHATSAPP', userId: $json.from, message: $json.text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Call BlueWings Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Build the Graph API payload: suggestions become native interactive buttons\n// (<=3) or a list message (4-10); long bodies or no chips fall back to text.\nconst reply = $json.reply ?? 'Sorry, something went wrong. Please try again.';\nconst to = $('Extract Messages').item.json.from;\nconst chips = ($json.suggestions ?? []).filter(s => s && s.length <= 20).slice(0, 10);\nconst base = { messaging_product: 'whatsapp', recipient_type: 'individual', to };\nlet payload;\nif (chips.length === 0 || reply.length > 1024) {\n  payload = { ...base, type: 'text', text: { body: reply } };\n} else if (chips.length <= 3) {\n  payload = { ...base, type: 'interactive', interactive: { type: 'button', body: { text: reply }, action: { buttons: chips.map((title, i) => ({ type: 'reply', reply: { id: 'chip_' + i, title } })) } } };\n} else {\n  payload = { ...base, type: 'interactive', interactive: { type: 'list', body: { text: reply }, action: { button: 'Choose an option', sections: [{ title: 'BlueWings', rows: chips.map((title, i) => ({ id: 'chip_' + i, title })) }] } } };\n}\nreturn { json: payload };"
      },
      "id": "a1b2c3d4-0009-4000-8000-000000000009",
      "name": "Build Reply Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0008-4000-8000-000000000008",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook Verify (GET)": {
      "main": [[{ "node": "Respond Challenge", "type": "main", "index": 0 }]]
    },
    "Webhook Inbound (POST)": {
      "main": [[{ "node": "Extract Messages", "type": "main", "index": 0 }]]
    },
    "Extract Messages": {
      "main": [[{ "node": "Call BlueWings Backend", "type": "main", "index": 0 }]]
    },
    "Call BlueWings Backend": {
      "main": [[{ "node": "Build Reply Payload", "type": "main", "index": 0 }]]
    },
    "Build Reply Payload": {
      "main": [[{ "node": "Send WhatsApp Reply", "type": "main", "index": 0 }]]
    }
  }
}
